@model AAOTripBooker.Models.DriverPeriod

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DriverPeriod</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverStartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverStartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverEndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverEndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DriverStartTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DriverStartTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Driver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Driver.DriversLicense)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
